<%= form_for :song, :url => songs_path do |f| %>
  <p>
    <%= f.label :text %>
    <%= f.text_field :text, placeholder: 'Text!' %><br>
  </p>
  <p>
    <%= f.submit 'Save' %>
    <%= f.submit 'Cancel' %>

  </p>
<% end %>
